.container {
  margin-top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  margin: 10vh 20px;
}

.individualContainer {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 300px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.link {
  text-decoration: none;
}

.imgNameContainer {
  display: flex;
  flex-direction: column;
  background-color: #f04c04;
  color: white;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  height: 35%;
}

.authorImage {
  height: 80px;
  border-radius: 100%;
}

.titleDateContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 53%;
  color: black;
}
