.container {
  margin-top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading {
    width: 50%;
}

@media screen and (max-width: 820px) {
    .loading {
        width: 100%;
    }
}